.App-Navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
  border-top: 4px solid black;
  background-color: white;
  z-index: 10;
  background-image: linear-gradient(
      to bottom,
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0.861)
    ),
    url("../Assets/logo.svg");
  background-size: 90px;
  background-clip: content-box;
  background-repeat: repeat;
}

.App-Navigation-Nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.App-Navigation-Nav-Li {
  flex: 1;
}
.App-Navigation-Nav-Li-A {
  width: 100%;
  display: inline-block;
  height: 79px;
}
.App-Navigation-Nav-Li-A:link {
  color: black;
}
.App-Navigation-Nav-Li-A:visited {
  color: black;
}
.App-Navigation-Nav-Li-A-Icon {
  font-size: 35px;
  padding: 20px;
}
